.directory-menu {
  // I will fill the entire width of my parent div and I will wrap and space my content in my div.
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
