.menu-item {
  /*   I will be max 30% wide and 240px tall in my parent div
      With flex 1,1 auto i fill the entire menu item div
      as well as being centered with align items and justify content */
  min-width: 30%;
  height: 240px;
  // Makes it fill the entire box
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;

  // Anywhere the menu item is the first child we get :
  &:first-child {
    margin-right: 7, 5px;
  }
  &:last-child {
    margin-right: 7, 5px;
  }

  /*   .menu-item .content
     */
  .content {
    // I will have a height of 90px, i will be column directed and centered with
    //align items and justify content
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
